<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Spring Boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toogle navigation">
				<span class="navbar-toogler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/clientes/lista}">Clientes</a></li>
				</ul>
			</div>

		</nav>
		<div class="alert alert-success" th:if="${success != null}" th:text="${success}" ></div>
		<div class="alert alert-danger" th:if="${danger != null}" th:text="${danger}" ></div>
		<div class="alert alert-warning"  th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info"  th:if="${info != null}" th:text="${info}"></div>
	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
		<p class="copyright">
			Copyright 2018 <a href="https://jquery.org/team/">Powered by
				Spring Boot y Thymeleaf</a>. <a href="https://jquery.org/license/"></a>
			<span class="sponsor-line"><a
				href="https://www.digitalocean.com" class="do-link">Web hosting
					by Digital Ocean</a> | <a href="https://www.stackpath.com"
				class="sp-link">CDN by StackPath</a></span>
		</p>
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js//bootstrap.min.js}"></script>

	</footer>
</body>
</html>